GDT_API_BASE_URL=https://hoadondientu.gdt.gov.vn/api
GDT_API_USERNAME=
GDT_API_PASSWORD=
GDT_API_VERIFY_SSL=true
GDT_API_TIMEOUT=15
GDT_TOKEN_TTL=36000
GDT_TOKEN_CACHE_KEY=gdt_token

MEINVOICE_API_BASE_URL=https://api.meinvoice.vn/api/integration
MEINVOICE_API_TOKEN=

INVOICES_EXPORT_DIRECTORY=gdt
INVOICES_PDF_DIRECTORY=hoadon_temp
